body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
}

h1 {
    color: #fff;
    font-size: 6em;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: 3em;
    text-transform: uppercase;
}

h3 {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.5em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 6px;
}

a {
    color: #fff;
}

#particles-js {
    height: 100%;
}

.header {
    /*background: #202124;*/
    padding: 15px 50px;
}

.header__menu {
    list-style: none;
    margin: 0;
}

.header__menu li {
    display: inline;
}

.header__link {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 30px;
    letter-spacing: 0.15em;
    font-weight: 700;
}

.header__link:hover {
    color: #f44336;
    text-decoration: none;
}

#header {
    background: url("../img/bg.jpg") no-repeat center top / cover;
    height: 100vh;
    position: relative;
}

#home {
    position: absolute;
    top: 35%;
    left: 10%;
}

.intro__text {
    padding-top: 15px;
}

.about {
    padding: 100px 0;
    position: relative;
    box-shadow: 0 5px 10px -4px #777;
}

.about__text {
    padding: 20px 0;
    color: #333;
    font-size: 1.2em;
}

.about__img {
    padding: 10px 40px;
}

.about__me {
    padding: 20px 0;
}

.about__skills {
    padding: 20px 0;
}

.about__progress {
    padding: 10px 0;
}

.progress-text {
    font-size: 1.2em;
    color: #333;
    padding: 10px 0;
}

.service__box {
    padding: 20px 40px;
    border-radius: 10px;
}

.service__title {
    text-transform: uppercase;
}

.service__text {
    padding: 30px 0;
}

.service {
    padding-bottom: 100px;
    background-color: #fafafa;
    position: relative;
    box-shadow: 0 -5px 10px -4px #777;
}

.portfolio {
    background: url("../img/overlay2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 0;
}

.portfolio__heading {
    padding: 50px 0;
}

.portfolio__box {
    height: 28em;
}

.portfolio__box_one {
    background: url("../img/portfolio2.png") no-repeat center top / cover;
    margin-bottom: 20px;
}

.portfolio__box_two {
    background: url("../img/portfolio1.png") no-repeat center top / cover;
    margin-bottom: 20px;
}

.portfolio__box_three {
    background: url("../img/portfolio3.jpg") no-repeat center / cover;
    margin-bottom: 20px;
}

.portfolio__box_four {
    background: url("../img/portfolio4.jpg") no-repeat center top / cover;
    margin-bottom: 20px;
}

.contact {
    background: #212529;
    color: #fff;
    padding: 30px;
}

.contact__title {
    font-size: 2em;
    padding: 30px 0 20px 0;

}

.contact__box {
padding-bottom: 80px;
}

.contact__email {
font-size: 1.2em;
padding: 10px 0 30px 0;
display: block;

}

.contact__email:hover {
text-decoration: none;
color: #fff;
}

.contact-icon {
    padding: 20px;
}

.contact-icon:hover {
    color: #f44336;
}




/* MEDIA CSS*/

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {

}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {

}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
    body {
        font-size: 14px;
    }

    h2 {
        text-align: center;
    }

    .intro__title {
        text-align: center;
    }

    .about__text {
        text-align: center;
    }

    .service__box {
        width: 22em;
        margin: 0 auto;
        margin-bottom: 2em;
    }
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    body {
        font-size: 13px;
    }

    h2 {
        font-size: 2em;
    }

    #home {
        left: 0;
    }

    .intro__title {
        text-align: left;
        font-size: 4em !important;
    }
}




