@media screen and (max-width: 960px) {
.container {
    width: 90%;
}

header {
    padding: 0;
}

.logo {
    text-align: center;
    float: none;
    padding: 10px 0 0 0;
}

.logo__light {
    float: none;
}

.logo_extra {
    float: none;
}

.menu {
    display: none;
}

.email {
    padding-top: 30px;
    float: none;
    text-align: center;
}

.first__title {
    padding: 80px 0;
}

.first__main-title {
    padding-bottom: 20px;
}

.first__arrow {
    padding-bottom: 20px;
}

.about__title {
    padding: 30px 0;
    text-align: center;
}

.background__title {
    padding-bottom: 20px;
    text-align: center;
}

.background {
    float: none;
    width: auto;
}

.merits {
    width: auto;
    float: none;
}

.merits__title {
    padding: 20px 0 20px 0;
    text-align: center;
}

.merits__column {
    width: auto;
    float: none;
    padding: 0 0 20px 0;
    margin: 0 auto;
}

.merits__romb {
    margin: 0 auto;
}

.contact {
    width: auto;
    float: none;
}

.contact__links {
    padding-top: 10px;
    width: auto;
    float: none;
    text-align: center;
}

.contact__title {
    text-align: center;
    padding: 20px 0 20px 0;
}

.contact__info {
    padding: 20px 0;
    float: none;
    width: auto;
}

.contact__img {
    float: none;
    display: none;
}

.contact__info-text {
    padding: 0;
    float: none;
    text-align: center;
}

.skills__title {
    padding: 30px 0;
    text-align: center;
}

.skills__item {
    margin: 0;
    width: auto;
    float: none;
    padding-bottom: 40px;
}

.skills__circle {
    float: none;
    margin: 0 auto;
    margin-bottom: 20px;
}

.skills__text {
    float: none;
    padding: 0;
    text-align: center;
}

.works__title {
    padding: 30px 0;
    text-align: center;
}

.works {
    float: none;
    margin: 20px auto;
}

.works:nth-child(4) {
    margin-right: auto;
}

.footer__text {
    text-align: center;
    margin-top: 50px;
}










}